$yellow: #fba800;
$white: #ffffff;
$lightgrey: #e6e6e6;
$container: 982px;
$responsive: 1024px;

body {
  margin: 0;
  overflow-x: hidden;
}

button, a {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  .icon {
    height: 20px;
    margin-right: 15px;
  }
}

* {
  outline: none;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat';

  @media(max-width: $responsive) {
    max-width: 100% !important;
  }

}

.btn-primary {
  background-color: $yellow;
  text-decoration: none;
  padding: 12px 35px;
  min-width: 140px;
  color: $white !important;
  border-radius: 25.5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  border: 2px solid $yellow;
  cursor: pointer;
}

.btn-second {
  background-color: none;
  text-decoration: none;
  padding: 12px 35px;
  min-width: 150px;
  color: $white;
  font-weight: bold;
  border: 2px solid $white;
  border-radius: 25.5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.btn-third {
  text-decoration: none;
  background-color: transparent;
  padding: 12px 35px;
  min-width: 140px;
  color: rgba(82, 82, 82, 0.76);
  font-weight: 600;
  border: none;
  font-size: 14px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.btn-fourth {
  background-color: transparent;
  text-decoration: none;
  padding: 12px 35px;
  min-width: 150px;
  color: $yellow;
  font-weight: bold;
  border: 2px solid $yellow;
  border-radius: 25.5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.btn-google {
  background-color: #CE5542 !important;
  border: none !important;
  color: $white !important;

  i {
    margin-right: 10px;
    font-size: 18px;
    margin-top: -2px;
  }

}

.btn-linkedin {
  background-color: #3482C4 !important;
  border: none !important;
  color: $white !important;

  i {
    margin-right: 10px;
    margin-top: -4px;
    font-size: 18px;
  }

}

.none {
  display: none !important;
}

.flex {
  display: flex !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.presentation {
  background-image: url('assets/research.jpg');
  background-size: cover;
  background-position: bottom;
  padding: 300px 0 300px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 110%;
  max-width: 110%;
  border-bottom-right-radius: 50% 150px;
  border-bottom-left-radius: 50% 150px;

  @media(max-width: $responsive) {
    border-radius: 0;
    padding: 120px 20px 50px 20px;
  }

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #2f5092, #0779c4);
    opacity: 0.7;
    content:'';
    border-bottom-left-radius: 50% 150px;
    border-bottom-right-radius: 50% 150px;

    @media(max-width: $responsive) {
      border-radius: 0;
    }

  }

}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#modal-inscription {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: auto;

  .modal {
    width: $container;
    padding: 20px 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-content {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;

      p {
        font-size: 24px;
        color: #232323;
        font-weight: bold;

        &.error {
          color: #b82828;
          font-size: 18px;

          li {
            text-align: left;
            font-size: 12px;
          }

        }

      }

      .row {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
          margin: 10px 0;
          padding: 0 8px;
          height: 40px;
        }

        @media(max-width: $responsive) {
          flex-direction: column;

          button {
            margin: 10px 0;
          }

        }

      }

      input {
        width: 400px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        border: solid 2px #f1f1f1;
        border-radius: 25.5px;
        color: #232323;
        margin: 10px 0;

        @media(max-width: $responsive) {
          width: 100%;
        }

        &::placeholder {
          color: #bfc4ce;
        }

      }

      .btn-primary, .btn-third {
        margin-top: 20px;
      }

    }

  }


}

#inscription {

  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;

  .presentation {

    p {
      z-index: 2;
      text-align: center;
      margin: 0;
      color: $white;

      &:first-child {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 35px;
        width: 450px;
        position: relative;
        padding-bottom: 20px;

        &:after {
          content:'';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          border-bottom: 3px solid $yellow;
          width: 58px;
        }

        @media(max-width: $responsive) {
          font-size: 20px;
        }

      }

      &:nth-child(2) {
        font-size: 18px;
        font-style: italic;
        width: 650px;

      }

    }

  }

  .skills {
    width: $container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -100px;
    z-index: 2;
    margin-bottom: 60px;

    @media(max-width: $responsive) {
      margin-top: 0;
      flex-direction: column;
      padding: 0 20px;
      align-items: center;
    }

    .skill {
      width: 314px;
      height: 225px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $white;
      box-shadow: 0px 10px 13px 0 rgba(0, 0, 0, 0.09);
      padding: 0 20px;
      margin: 10px 0;
      cursor: pointer;
      position: relative;

      &.active {

        .validate {
          display: flex;
        }

        // &:after {
        //   content: '';
        //   width: 100%;
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   height: 225px;
        //   background-color: $yellow;
        //   opacity: 0.4;
        // }

      }

      .validate {
        background-color: $yellow;
        position: absolute;
        height: 30px;
        width: 30px;
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        top: 15px;
        right: 15px;

        img {
          height: 15px;
        }

      }

      .img-container {
        z-index: 2;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        img {
          width: 58px;
        }

      }

      p {
        z-index: 2;
        font-size: 18px;
        font-weight: bold;
      }

    }

  }

  .profile {
    margin-top: -150px;

    .form {
      align-items: flex-start;

      p {
        text-align: left;
      }

    }

  }

  .confirmation {
    margin-top: -200px;

    .form {
      align-items: center;
      text-align: center;

      p {
        text-align: center;
      }

    }

  }

  .profile, .confirmation {
    width: $container;
    display: flex;
    z-index: 2;
    flex-direction: column;

    @media(max-width: $responsive) {
      margin-top: 0;
    }

    .form {
      width: 100%;
      background: $white;
      display: flex;
      flex-direction: column;
      padding: 30px 60px;
      box-shadow: 0px 10px 13px 0 rgba(0, 0, 0, 0.09);
      margin: 20px 0;

      @media(max-width: $responsive) {
        margin: 0;
        padding: 20px;
        box-shadow: none;
        align-items: center;
        text-align: center;
      }

      .title {
        font-size: 18px;
        font-weight: bold;
        color: #232323;
        margin-bottom: 5px;
      }

      .choices {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin: 30px 0;

        @media(max-width: $responsive) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 0;
        }

        .skill {
          margin-right: 25px;
          margin-bottom: 20px;
          border: solid 2px #f1f1f1;
          border-radius: 25.5px;
          padding: 10px 28px;
          display: flex;
          align-items: center;

          @media(max-width: $responsive) {
            margin: 10px 0;
          }

          img {
            height: 28px;
            margin-right: 15px;
          }

          span {
            font-size: 14px;
            color: #232323;
          }

        }

        .choice {
          width: 25%;
          display: flex;
          justify-content: center;
          padding: 15px 0;
          border: solid 1.5px #f1f1f1;
          cursor: pointer;

          @media(max-width: $responsive) {
            width: 100%;
            border-radius: 25.5px;
            margin: 10px 0;
          }

          &.active {
            background-color: $yellow;
            border-color: $yellow;

            span {
              color: $white;
            }

          }

          span {
            color: #232323;
          }

          &.first {
            border-top-left-radius: 25.5px;
            border-bottom-left-radius: 25.5px;
          }

          &.last {
            border-top-right-radius: 25.5px;
            border-bottom-right-radius: 25.5px;
          }

        }

      }

    }

  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;

    @media(max-width: $responsive) {
      flex-direction: column;
    }

    button, a {
      margin: 20px;
    }

  }

  a {

    margin-top: 60px;

    @media(max-width: $responsive) {
      display: block;
      margin: 20px;
    }

  }

  .btn-primary {
    margin: auto;
  }

}

#header {

  position: fixed;
  z-index: 10;
  width: 100%;

  #nav {

    background-color: transparent;
    padding: 25px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all 0.5s;

    @media(max-width: $responsive) {
      padding: 15px 20px;
      background: $white !important;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.29);
    }

    &.scrolled {
      background-color: $white;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.29);

      a {
        color: #525252;
      }

      .btn-second {
        color: $yellow;
        border-color: $yellow;
      }

      .none {
        display: flex !important;

        @media(max-width: $responsive) {
          display: none !important;
        }

      }

    }

    > div {
      width: $container;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media(max-width: $responsive) {
        flex-wrap: wrap;
      }

      .mobile {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
          width: 25px;
          height: 3px;
          border-radius: 2px;
          background-color: $yellow;
          margin: 2px 0;
        }

        display: none;

        @media(max-width: $responsive) {
          display: flex;
        }

      }

      .logo {

        img {
          height: 38px;

          @media(max-width: $responsive) {
            height: 21px;
          }

        }

      }

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media(max-width: $responsive) {
          display: none;
          flex-direction: column;
          width: 100%;
        }

        li {
          margin-left: 10px;
          display: flex;
          justify-content: center;

          @media(max-width: $responsive) {
            width: 100%;
            align-items: center;
            margin: 10px 0;
          }

          a {
            padding: 12px 16px;
            text-decoration: none;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: $responsive) {
              color: #525252;
            }

          }

          img {
            height: 13px;
          }

        }

      }

    }

  }

  #subnav {
    background: $white;
    display: flex;
    width: 100%;
    justify-content: center;

    @media(max-width: $responsive) {
      display: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
      width: $container;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 12px 0;
      position: relative;

      &:after {
        position: absolute;
        display: block;
        content:'';
        right: 0;
        bottom: 0;
        width: 400px;
        border-bottom: 1.5px solid $lightgrey;
      }

      li {
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.language {
          border-left: 1.5px solid $lightgrey;
          border-right: 1.5px solid $lightgrey;
        }

        a {
          color: #2f5092;
          text-decoration: none;
          font-weight: bold;
          margin-right: 10px;
          font-size: 12px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 12px;
          }

        }

        select {
          border: none;
          background: none;
          padding: 0 5px;
          color: rgba(16, 101, 173, 0.6);
          font-size: 13px;
          font-weight: bold;
        }

      }

    }

  }

}

#research {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .presentation {

    p {
      z-index: 2;
      text-align: center;
      width: 650px;
      margin: 0;
      color: $white;

      &:first-child {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 10px;
        text-transform: uppercase;

        @media(max-width: $responsive) {
          font-size: 30px;
        }

      }

      &:nth-child(2) {
        font-size: 30px;
        font-weight: 600;

        @media(max-width: $responsive) {
          font-size: 18px;
        }

      }

    }

  }

  form {
    z-index: 2;
    background: $white;
    width: $container;
    margin-top: -180px;
    padding: 40px 20px;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.19);

    @media(max-width: $responsive) {
      margin-top: 0;
      padding: 20px;
    }

    > div {
      display: flex;
      justify-content: space-between;
      position: relative;

      @media(max-width: $responsive) {
        flex-direction: column;
        align-items: center;
      }

      &:first-child {

        &:before {
          padding: 0;
          margin: 0;
          content: url('./assets/recherche.png');
          position: absolute;
          top: 13px;
          left: 19px;
          color: #bfc4ce;
        }

      }

      input {
        width: 35%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 40px;
        padding-right: 8px;
        border: solid 2px #f1f1f1;
        border-radius: 25.5px;
        color: #232323;

        @media(max-width: $responsive) {
          width: 100%;
          margin-bottom: 15px;
        }

        &::placeholder {
          color: #232323;
        }

      }

      .select {
        width: 28%;
        border: solid 2px #f1f1f1;
        height: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        background: transparent;
        overflow: hidden;
        border-radius:25.5px;

        @media(max-width: $responsive) {
          margin-bottom: 15px;
          width: 100%;
        }

        &:after {
          content: '\25BC';
          color: $lightgrey;
          position: absolute;
          height: 40px;
          top: 0;
          right: 0;
          padding: 0 10px 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $white;
          pointer-events: none;
          margin: auto;
        }

        select {
          width: 95%;
          height: 100%;
          margin: 0;
          background: none;
          border: none;
          color: #232323;
          cursor: pointer;

          &:-ms-expand {
            display: none;
          }

        }

      }

      &.submit {

        margin-top: 33px;

        div {
          width: 33%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          button {
            margin-top: 20px;

            @media(max-width: $responsive) {
              margin-top: 0;
              margin-bottom: 15px;
            }

            &.more {
              align-self: flex-end;
              border: none;
              cursor: pointer;
              background: none;
              font-size: 12px;
              color: #232323;

              @media(max-width: $responsive) {
                margin: 0;
              }

            }

          }

        }

      }

    }

  }

}

#recruiters {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  @media(max-width: $responsive) {
    padding: 60px 20px;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    color: #4a4a4a;
    letter-spacing: 0.6px;
    margin: 0 0 30px 0;
    position: relative;
    padding-bottom: 11px;

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-bottom: 3px solid $yellow;
      width: 58px;
    }

  }

  .cards {
    width: $container;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media(max-width: $responsive) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 314px;
      height: 334px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.29);
      position: relative;
      background-size: cover;
      background-position: center;
      text-decoration: none;

      @media(max-width: $responsive) {
        width: 100%;
      }

      &:nth-child(1) {
        background-image: url('assets/research-card-1.jpg');
      }

      &:nth-child(2) {
        background-image: url('assets/research-card-2.jpg');
      }

      &:nth-child(3) {
        background-image: url('assets/research-card-3.jpg');
      }

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        opacity: 0.4;
        content:'';
      }

      span {
        z-index: 2;

        &:nth-child(2) {
          font-size: 13px;
          font-weight: 500;
          text-transform: uppercase;
          color: $yellow;
          margin-bottom: 25px;
        }

        &:nth-child(1) {
          color: $white;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
        }

      }

    }

  }

  a {
    margin-top: 30px;
  }

}

#interviews {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  p {
    font-size: 24px;
    font-weight: 600;
    color: #4a4a4a;
    letter-spacing: 0.6px;
    margin: 0 0 30px 0;
    position: relative;
    padding-bottom: 11px;

    @media(max-width: $responsive) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-bottom: 3px solid $yellow;
      width: 58px;
    }

  }

  .cards {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    @media(max-width: $responsive) {
      flex-direction: column;
      padding: 0 20px;
    }

    .card {
      width: 366px;
      height: 364px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.29);
      position: relative;
      background-size: cover;
      background-position: center;
      text-decoration: none;

      @media(max-width: $responsive) {
        width: 100%;

        &:nth-child(2), &:nth-child(3) {
          display: none;
        }

      }

      &:nth-child(1) {
        background-image: url('assets/interviews-card-1.jpg');
      }

      &:nth-child(2) {
        background-image: url('assets/interviews-card-2.jpg');
        width: 480px;
        height: 408px;
      }

      &:nth-child(3) {
        background-image: url('assets/interviews-card-3.jpg');
      }

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        opacity: 0.4;
        content:'';
      }

      span {
        z-index: 2;

        &:nth-child(2) {
          font-size: 13px;
          font-weight: 500;
          text-transform: uppercase;
          color: $yellow;
          margin-bottom: 25px;
          margin-left: 14px;
          margin-right: 14px;
        }

        &:nth-child(1) {
          color: $white;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
          margin-left: 14px;
          margin-right: 14px;
        }

      }

    }

  }

  a {
    margin-top: 30px;
  }

}

#articles {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background-color: #f1f1f1;
  margin-left: -5%;
  width: 110%;
  max-width: 110%;
  border-bottom-right-radius: 50% 150px;
  border-bottom-left-radius: 50% 150px;

  @media(max-width: $responsive) {
    margin-left: 0;
    border-radius: 0;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    color: #4a4a4a;
    letter-spacing: 0.6px;
    margin: 0 0 30px 0;
    position: relative;
    padding-bottom: 11px;

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-bottom: 3px solid $yellow;
      width: 58px;
    }

  }

  .cards {
    width: $container;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media(max-width: $responsive) {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
    }

    .card {
      width: 314px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.29);
      text-decoration: none;
      background: $white;

      @media(max-width: $responsive) {
        &:nth-child(2), &:nth-child(3) {
          display: none;
        }

        width: 100%;
      }

      .content {
        padding: 18px;
        display: flex;
        flex-direction: column;
        width: 100%;

        .category {
          color: $yellow;
          font-size: 10px;
          font-weight: 500;
          text-transform: capitalize;
          align-self: flex-start;
          margin: 0;
        }

        .title {
          margin-top: 8px;
          font-size: 14px;
          font-weight: bold;
          color: #232323;
          align-self: flex-start;
        }

        .description {
          font-size: 12px;
          color: #232323;
          line-height: 23px;
          align-self: flex-start;
          text-align: left;
          margin-top: 15px;
        }

        div {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .date {
            font-size: 10px;
            color: rgba(1, 1, 1, 0.57);
            margin: 0;
          }

          img {
            height: 17px;
          }

        }

      }

    }

  }

  a {
    margin-top: 30px;
  }

}

#jobs {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 300px 0;
  background-color: #f1f1f1;
  margin-left: -5%;
  width: 110%;
  max-width: 110%;
  border-bottom-right-radius: 50% 150px;
  border-bottom-left-radius: 50% 150px;

  @media(max-width: $responsive) {
    margin-left: 0;
    padding-bottom: 60px;
    border-radius: 0;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    color: #4a4a4a;
    letter-spacing: 0.6px;
    margin: 0 0 30px 0;
    position: relative;
    padding-bottom: 11px;

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-bottom: 3px solid $yellow;
      width: 58px;
    }
  }

  .cards {
    width: $container;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    @media(max-width: $responsive) {
      padding: 0 20px;
    }

    .card {
      background-size: cover;
      background-position: center;
      padding: 14px 18px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      text-decoration: none;
      color: $white;
      position: relative;
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.29);

      &:hover {

        &:before {
          opacity: 0.4;
        }

        span {
          opacity: 1;
        }

      }

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        opacity: 0;
        content:'';
        transition: opacity 0.5s;
      }

      span {
        z-index: 2;
        opacity: 0;
        transition: opacity 0.5s;
        text-align: left;

        &:nth-child(1) {
          font-size: 9px;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 8px;
        }

        &:nth-child(2) {
          font-size: 16px;
          font-weight: 600;
          margin: 0;
        }

        &:nth-child(3) {
          font-size: 12px;
          margin: 6px 0 0 0;
        }

      }

    }

    .card-left {
      width: 50%;
      margin-right: 10px;
      background-image: url('assets/jobs-card-1.jpg');
      height: 370px;

      @media(max-width: $responsive) {
        margin: 0;
        width: 100%;
        height: 300px;
      }

    }

    .job-right {
      width: 50%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media(max-width: $responsive) {
        display: none;
      }

      .card-right {
        width: 100%;
        height: 175px;

        &:nth-child(1) {
          background-image: url('assets/jobs-card-2.jpg');
        }

        &:nth-child(2) {
          background-image: url('assets/jobs-card-3.jpg');
        }

      }

    }

    // .card {
    //   width: 314px;
    //   height: 334px;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    //   box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.29);
    //   position: relative;
    //   background-size: cover;
    //   background-position: center;
    //   text-decoration: none;
    //
    //   &:nth-child(1) {
    //     background-image: url('assets/research-card-1.jpg');
    //   }
    //
    //   &:nth-child(2) {
    //     background-image: url('assets/research-card-2.jpg');
    //   }
    //
    //   &:nth-child(3) {
    //     background-image: url('assets/research-card-3.jpg');
    //   }
    //
    //   &:before {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     width: 100%;
    //     background-color: #000000;
    //     opacity: 0.4;
    //     content:'';
    //   }
    //
    //   span {
    //     color: $white;
    //     z-index: 2;
    //
    //     &:nth-child(1) {
    //       font-size: 13px;
    //       font-weight: 500;
    //       text-transform: uppercase;
    //     }
    //
    //     &:nth-child(2) {
    //       font-size: 16px;
    //       font-weight: 600;
    //       margin-top: 5px;
    //     }
    //
    //   }
    //
    // }

  }

}

#about {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  margin-top: -200px;

  @media(max-width: $responsive) {
    margin: 0;
  }


  .content {
    width: 855px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 86px;
    position: relative;
    background-color: $white;

    @media(max-width: $responsive) {
      box-shadow: none;
      padding: 40px 20px;
    }

    .icon {
      height: 58px;
      width: 58px;
      border-radius: 50%;
      background-image: linear-gradient(83deg, #2f5092, #0779c4);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -29px;
      left: 0;
      right: 0;
      margin: auto;
      padding: 10px;
    }

    .title {
      font-size: 24px;
      color: #525252;
      margin-bottom: 28px;
      font-weight: 600;
    }

    .description {
      font-size: 14px;
      font-weight: 300;
      color: #000000;
    }

  }

}

#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background-image: linear-gradient(94deg, #2f5092, #0779c4);

  .navbar {
    width: $container;
    display: flex;
    justify-content: space-between;

    @media(max-width: $responsive) {
      flex-direction: column;
      align-items: center;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $white;

      &:nth-child(1) {
        width: 40%;
      }

      &:nth-child(2), &:nth-child(3) {
        width: 25%;
      }

      @media(max-width: $responsive) {
        margin: 10px 0;
        width: 100% !important;
        padding: 0 20px;
        text-align: center;
        align-items: center;
      }

      span {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 22px;
      }

      p {
        margin: 0;
        padding: 0;
        text-align: left;

        @media(max-width: $responsive) {
          text-align: center;
        }

      }

      a {
        color: $white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
      }

    }

  }

}

#subfooter {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #f1f1f1;

  .navbar {
    width: 600px;
    display: flex;
    justify-content: space-between;

    @media(max-width: $responsive) {
      flex-wrap: wrap;
      padding: 0 20px;
    }

    a {
      color: #525252;
      text-decoration: none;
      margin: 10px 0;
    }

  }

}
